<!DOCTYPE html>
<html>
<head>
    <title>School AI</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>

    <h1>Moggyyy AI Chatbot</h1>

    <input id="messageInput" type="text" placeholder="Ask a question...">

    <button onclick="sendMessage()">Send</button>

    <div id="chatHistory"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <h2> Upload a document</h2>

    <input type="file" id="fileInput" accept=".pdf">

    <button onclick="uploadFile()">Upload</button>

    <div id="uploadResponse"></div>

</body>
</html>